<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Tic-Tac-Toe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Strona główna</a>
      <ng-container *ngIf="securityService.isLogged()">
        <a class="nav-item nav-link" routerLink="/join-game">Graj w grę</a>
      </ng-container>
      <a class="nav-item nav-link" routerLink="/ranking">Ranking</a>
      <ng-container *ngIf="!securityService.isLogged()">
        <a class="nav-item nav-link" routerLink="/register-form">Zarejestruj się</a>
      </ng-container>
      <ng-container *ngIf="!securityService.isLogged()">
        <a class="nav-item nav-link" routerLink="/login-form">Zaloguj się</a>
      </ng-container>
      <ng-container *ngIf="securityService.isAdmin()">
        <a class="nav-item nav-link" routerLink="/games">Wyświetl gry</a>
      </ng-container>
      <ng-container *ngIf="securityService.isLogged()">
        <a class="nav-item nav-link" [routerLink]="['/user', securityService.user!.username]">Edytuj swój profil</a>
        <a class="nav-item nav-link" (click)="logout()">Wyloguj się</a>
      </ng-container>
    </div>
  </div>
</nav>
